# Python
__pycache__/
*.pyc

# Virtual env
.venv/
env/

# Docker volumes
mysql_data/
minio_data/

# Env files
.env
*.env

# IDE
.vscode/
.idea/

# codex
.prompt/

# cloudflare
.cloudflared/
nohup.out

# agent md
GEMINI.md
AGENTS.md